:root {
  --color-primary: #978510;
  --color-primary-hover: #ffc107;
  --color-background-dark: #181d24;
  --color-white: #fff;
  --font-main: 'Montserrat', sans-serif;
  --font-secondary: 'Caveat', sans-serif;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-background-dark);
  color: var(--color-white);
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  color: currentColor;
}

a.active {
  background-color: var(--color-primary);
  padding: 2px 10px;
  text-transform: uppercase;
}

.badge-valora {
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  padding: 4px 16px;
  z-index: 9999;
}

.badge-valora a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

.badge-valora:hover {
  background-color: #fff;
}

.badge-valora:hover a {
  color: var(--color-primary);
}

/* ===================== HEADER ===================== */
header {
  position: sticky;
  top: 0;
  z-index: 1050;
  background-color: var(--color-background-dark);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: block; /* IMPORTANTE: no usar display:none para CSS transition */
  position: absolute; /* para que se posicione correctamente */
  z-index: 1000;
  background-color: var(--color-background-dark);
}

.dropdown:hover > .dropdown-menu,
.dropdown.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  border-left: 5px solid transparent;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: var(--color-primary-hover);
  background-color: transparent;
  border-left-color: var(--color-primary-hover);
}

.main-menu {
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}

.main-menu li a {
  margin-right: 8px;
}

.main-menu li a {
  margin: 0px 2px;
}

/* Quitar el icono de caret de los submenús */
.main-menu .dropdown-toggle::after {
  display: none;
}

/* Label de detalle encima del menu de navegación */
.detail {
  font-size: 18px;
  font-weight: 300;
}

/* Separación vertical entre elementos del menu */
.header-block nav {
  margin-top: 10px;
}

/* Fondo del menú desplegable */
.idiomas-dropdown .dropdown-menu {
  background-color: var(--color-background-dark);
  border: none;
  min-width: auto;
}

/* Color del texto de los items */
.idiomas-dropdown .dropdown-item {
  color: var(--color-white);
  background-color: var(--color-background-dark);
}

/* Hover en items */
.idiomas-dropdown .dropdown-item:hover {
  border-left: 5.5px solid var(--color-primary);
  color: var(--color-primary);
}

/* Tamaño de la bandera */
.idiomas-dropdown img {
  height: 20px;
}

/* ===================== SIDEBAR ===================== */
#menu-lateral {
  background-color: var(--color-background-dark);
  width: 60vw;
}

.sidebar-menu {
  margin-bottom: 50px;
}
.sidebar-menu li a {
  color: var(--color-white);
  font-size: 50px;
  font-weight: 300;
  text-transform: none;
}

.sidebar-menu li a:hover {
  color: var(--color-primary);
}

#menu-lateral > .container {
  margin-top: 5vh;
  margin-left: 15vw;
}

.offcanvas-body {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-close {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ===================== HERO SECTION ===================== */
.hero-section {
  margin-bottom: 150px;
}

.search-selection {
  padding-bottom: 60px;
}

.hero-arrow {
  position: absolute;
  left: 180px;
  bottom: -50px;
  padding-left: 25;
}

/* ===================== SLIDER ===================== */
/* Imagen de fondo */
.slider-image {
  background: url('../assets/slider.jpg') center/cover no-repeat;
  height: 75vh;
  filter: brightness(0.7);
}

.slider-content {
  margin-top: -30vh;
  position: relative;
  z-index: 2;
}

/* Textos */
.slider-title {
  font-size: 182px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.slider-subtitle {
  font-size: 72px;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: var(--color-primary);
  margin: 0;
}

/* ===================== SEARCH FORM ===================== */

/* Input de texto */
.search-form .select2-container .select2-selection--multiple {
  min-height: 54px;
  padding: 8px 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

/* Input de texto */
.search-form .select2-container--default .select2-selection--multiple {
  min-height: 54px;
  padding: 8px 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
}

/* Color del texto de las opciones */
.select2-container .select2-results__option {
  color: var(--color-background-dark);
}

/* Badge interior cuando seleccionas una opción */
.select2-container--default .select2-selection__choice {
  color: #181d24 !important;
  font-style: italic !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  border: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

.btn-search {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #ffcb00;
  border: 1px solid #ffcb00;
  border-radius: 0px;
  font-weight: 700;
}

.btn-search img {
  margin-right: 8px;
}

.btn-clear-filters {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0px;
  font-weight: 700;
}

.btn-clear-filters img {
  margin-right: 8px;
}

.btn-advanced {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #978510;
  border: 1px solid #978510;
  border-radius: 0px;
  font-weight: 700;
}

.btn-advanced img {
  margin-right: 8px;
}
/* ===================== FUTURE SECTION ===================== */

#future-section {
  background: url('../assets/banner-01-home.jpg') center/cover no-repeat;
  position: relative;
  padding-top: 160px;
  padding-bottom: 120px;
}

/* Título encima del fondo */
.future-title {
  text-align: center;
  margin-bottom: 20px;
}

.future-title .title {
  font-size: 92px;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

/* Icono centrado */
.future-icon {
  text-align: center;
  margin-bottom: 60px;
}

#future-section a.mini-card {
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #181d24;
  height: 320px;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

#future-section a.mini-card .card-title {
  color: #ffcb00;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid #ffcb00;
  display: inline-block;
  line-height: 1.3;
  min-height: 115px;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  padding: 26px 30px 0;
}

#future-section a.mini-card .card-total {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 50px solid #666;
  color: #fff;
  padding: 26px 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 3;
}

#future-section a.mini-card .card-total strong {
  font-size: 66px;
  font-weight: 300;
  padding-right: 20px;
}

/* ===================== PROPIEDADES DEL MES ===================== */
#property-offer .title {
  font-size: 60px;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
  padding: 48px 0px;
}

#property-offer .title .highlight {
  color: var(--color-primary);
  text-transform: none;
  line-height: 0.7;
  font-family: var(--font-secondary);
  font-weight: 400;
}

#property-offer .card-featured {
  background-color: #3c4146;
}

#property-offer .card-featured .ref-propiedad-ofertada {
  position: absolute;
  left: 0;
  background-color: #978510;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 4px;
  font-size: 14px;
  font-weight: 700;
}

#property-offer .card-featured .info-border .type {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#property-offer .card-featured .info-border .modality {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#property-offer .card-featured .info-border .location {
  font-size: 14px;
  font-weight: 500;
}

#property-offer .card-featured .info-border .price {
  font-size: 24px;
  font-weight: 400;
  color: #ffcb00;
  letter-spacing: 1.8px;
}

#property-offer .info-propiedad .caracteristicas {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: start;
  font-size: 15px;
  font-weight: 400;
  line-height: 0.7;
  padding: 0;
}

#property-offer .info-propiedad .caracteristicas strong {
  margin-right: 5px;
  font-weight: 700;
}

#property-offer .info-propiedad .caracteristicas li {
  display: flex;
  align-items: center;
}

/* ===================== PROPIEDADES DESTACADAS ===================== */
#featured-properties {
  background-color: var(--color-background-dark);
  padding: 100px 0px;
}

#featured-properties .title {
  font-size: 60px;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
  padding: 48px 0px;
}

#featured-properties .title .highlight {
  color: var(--color-primary);
  text-transform: none;
  line-height: 0.7;
  font-family: var(--font-secondary);
  font-weight: 400;
}

#featured-properties .propiedad-destacada {
  overflow: hidden;
}

#featured-properties .propiedad-destacada:hover {
  background-color: var(--color-primary);
}

#featured-properties .propiedad-destacada:hover .info-propiedad {
  color: var(--color-background-dark);
}

#featured-properties .propiedad-destacada:hover .info-propiedad .price {
  color: var(--color-white);
}

/* Contenedor de la imagen para poder posicionar elementos encima */
#featured-properties .imagen-propiedad {
  position: relative;
}

/* Icono de favoritos arriba a la derecha */
#featured-properties .icono-favorito {
  top: 20px;
  right: 20px;
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Texto REF abajo a la derecha sobre la imagen */
#featured-properties .ref-propiedad {
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #3c4146;
  padding: 12px 5px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 2px;
}

#featured-properties .info-propiedad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#featured-properties .info-propiedad .info-border {
  border-right: 1px solid #6f6f6f;
  padding-right: 25px;
  height: 50%;
}

/* Imagen ajustable */
#featured-properties .imagen-propiedad img {
  width: 100%;
  display: block;
}

#featured-properties .info-propiedad .type {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#featured-properties .info-propiedad .modality {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#featured-properties .info-propiedad .location {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#featured-properties .info-propiedad .price {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
  letter-spacing: 1.8px;
}

#featured-properties .info-propiedad .caracteristicas {
  display: flex; /* pone los elementos en fila */
  gap: 15px; /* espacio entre cada li */
  flex-wrap: wrap; /* opcional, si quieres que baje a la siguiente línea en pantallas pequeñas */
  justify-content: end;
  font-size: 15px;
  font-weight: 400;
  line-height: 0.7;
}

#featured-properties .info-propiedad .caracteristicas strong {
  margin-right: 5px;
  font-weight: 700;
}

#featured-properties .info-propiedad .caracteristicas li {
  display: flex;
  align-items: center;
}

#featured-properties .all-properties a:hover p {
  color: white;
}

#featured-properties .all-properties p {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  line-height: 1;
  margin-right: 10px;
}

#featured-properties .all-properties img {
  margin-left: 10px;
}

/* ===================== SOBRE NOSOTROS ===================== */
#sobre-nosotros {
  padding-bottom: 140px;
}
#sobre-nosotros .texto-central {
  padding-left: 12px !important;
  padding-right: 12px !important;
  position: relative;
  left: 20px;
}

#sobre-nosotros .titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.7;
}

#sobre-nosotros p {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 40px;
  line-height: 1.7;
}

#sobre-nosotros .btn-outline-primary {
  padding: 12px 48px;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 700;
  border: 1.5px solid var(--color-primary);
}

#sobre-nosotros .btn-outline-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

/* La imagen derecha NO se ve completa: se recorta */
.imagen-derecha {
  overflow: hidden;
}

/* ===================== ÚLTIMAS NOTICIAS ===================== */
#last-news {
  background-color: var(--color-white);
  color: var(--color-background-dark);
  padding: 120px 0px;
}

#last-news .vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 87px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.7;
}

#last-news .vertical-text strong {
  font-family: var(--font-secondary);
  text-transform: none;
  color: var(--color-primary);
}

#last-news .card {
  padding: 0 12px;
  border: none;
}

#last-news .image img {
  width: 100%;
}

#last-news .text {
  padding: 10px 20px;
  position: absolute;
  color: var(--color-white);
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}

/* ===================== SECTION BLOCK ===================== */
#block-section {
  height: 70vh;
  background: url('../assets/final_background.jpg') center/cover no-repeat;
}

/* ===================== CONTACT FORM ===================== */
#contact-form {
  background-color: var(--color-primary);
}

#contact-form .contact-title {
  font-size: 60px;
  font-weight: 300;
  color: black;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}

#contact-form .contact-title .highlight {
  color: var(--color-white);
  font-family: var(--font-secondary);
  text-transform: none;
}

#contact-form .form-control {
  color: var(--color-white) !important;
}

.form-control::placeholder {
  color: var(--color-white);
  opacity: 1;
  font-style: italic;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
  outline: none;
}

#contact-form input {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
}

#contact-form textarea {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
}

/* Hacer el checkbox redondo */
/* Ocultamos estilos nativos del checkbox */
.checkbox-round {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 18px;
  height: 18px;

  border-radius: 50%;
  border: 2px solid var(--color-white);
  background-color: transparent;

  cursor: pointer;
  position: relative;
  margin-right: 10px;
}

.checkbox-round:checked {
  background-color: var(--color-white);
  border-color: var(--color-white);
}

/* Marca interior: un círculo más pequeño */
.checkbox-round:checked::after {
  content: '';
  position: absolute;
  top: 4px; /* centrado */
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--color-primary); /* color del “tick” */
}

/* Evitar efecto de focus de Bootstrap */
.checkbox-round:focus {
  outline: none;
  box-shadow: none;
}

/* ===================== FOOTER VERTICAL ===================== */
#footer-vertical {
  background-color: var(--color-background-dark);
  padding-top: 80px;
  padding-bottom: 50px;
}

#footer-vertical .details {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  display: block;
}

#footer-vertical .details:hover {
  color: var(--color-primary-hover);
}

#footer-vertical .bottom-menu {
  display: flex;
  justify-content: center;
}

#footer-vertical .bottom-menu li {
  margin-left: 2px;
  margin-right: 2px;
}

#footer-vertical .bottom-menu a {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
}

#footer-vertical .bottom-menu a:hover {
  background-color: var(--color-primary);
}

/* ===================== FOOTER ===================== */
#footer-legal {
  background-color: var(--color-primary);
  padding: 25px 0px;
  font-size: 14px;
  font-weight: 400;
}

#footer-legal a:hover {
  color: var(--color-primary-hover);
}
