:root {
  --color-primary: #978510;
  --color-primary-hover: #ffc107;
  --color-background-dark: #181d24;
  --color-white: #fff;
  --font-main: 'Montserrat', sans-serif;
  --font-secondary: 'Caveat', sans-serif;
}
html,
body {
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: var(--font-main);
  background-color: var(--color-background-dark);
  color: var(--color-white);
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: var(--color-white);
}

a:hover {
  color: currentColor;
}

a.active {
  background-color: var(--color-primary);
  padding: 2px 10px;
  text-transform: uppercase;
}

.badge-valora {
  max-width: 100%;
  left: 0;
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: var(--color-primary);
  padding: 4px 16px;
  z-index: 9999;
  box-sizing: border-box;
}

.badge-valora a {
  color: var(--color-white);
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: block;
  white-space: nowrap;
}

/* ===================== HEADER ===================== */
header {
  position: sticky;
  top: 0;
  z-index: 1050;
  background-color: var(--color-background-dark);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
}

.dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  display: block;
  position: absolute;
  z-index: 1000;
  background-color: var(--color-background-dark);
}

.dropdown:hover > .dropdown-menu,
.dropdown.show > .dropdown-menu {
  opacity: 1;
  visibility: visible;
}

.dropdown-item {
  color: white;
  font-size: 14px;
  font-weight: 700;
  background-color: transparent;
  border-left: 5px solid transparent;
  transition: all 0.3s ease;
}

.dropdown-item:hover {
  color: var(--color-primary-hover);
  background-color: transparent;
  border-left-color: var(--color-primary-hover);
}

.main-menu {
  gap: 0.5rem;
  font-size: 14px;
  font-weight: 600;
}

.main-menu li a {
  margin-right: 8px;
}

.main-menu li a {
  margin: 0px 2px;
}

/* Quitar el icono de caret de los submenús */
.main-menu .dropdown-toggle::after {
  display: none;
}

/* Label de detalle encima del menu de navegación */
.detail {
  font-size: 18px;
  font-weight: 300;
}

/* Separación vertical entre elementos del menu */
.header-block nav {
  margin-top: 10px;
}

/* Fondo del menú desplegable */
.idiomas-dropdown .dropdown-menu {
  background-color: var(--color-background-dark);
  border: none;
  min-width: auto;
}

/* Color del texto de los items */
.idiomas-dropdown .dropdown-item {
  color: var(--color-white);
  background-color: var(--color-background-dark);
}

/* Hover en items */
.idiomas-dropdown .dropdown-item:hover {
  border-left: 5.5px solid var(--color-primary);
  color: var(--color-primary);
}

/* Tamaño de la bandera */
.idiomas-dropdown img {
  height: 20px;
}

/* ===================== SIDEBAR ===================== */
#menu-lateral {
  background-color: var(--color-background-dark);
  width: 60vw;
}

.sidebar-menu {
  margin-bottom: 50px;
}
.sidebar-menu li a {
  color: var(--color-white);
  font-size: 50px;
  font-weight: 300;
  text-transform: none;
}

.sidebar-menu li a:hover {
  color: var(--color-primary);
}

#menu-lateral > .container {
  margin-top: 5vh;
  margin-left: 15vw;
}

.offcanvas-body {
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-close {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 22px;
  font-weight: 700;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-menu li {
  min-height: 60px; /* ajusta según tu diseño */
  display: flex;
  align-items: center; /* centra verticalmente */
}

.sidebar-menu li a {
  display: block;
  width: 100%;
}
#menu-lateral .dropdown-menu {
  background-color: var(--color-background-dark);
  border: none;
  min-width: 120px; /* ajusta al contenido */
  padding: 0;
}

#menu-lateral .dropdown-item {
  color: var(--color-white);
  padding: 10px;
  transition: all 0.3s ease;
}

#menu-lateral .dropdown-item:hover {
  color: var(--color-primary);
  background-color: rgba(255, 255, 255, 0.05);
}
/* ANIMACIÓN SIDEBAR */
#menu-lateral.offcanvas {
  transform: none !important; /* quitar el desplazamiento */
  transition: opacity 0.3s ease; /* transición de opacidad */
  opacity: 0; /* oculto por defecto */
}

#menu-lateral.offcanvas.show {
  opacity: 1; /* visible al mostrar */
}

.sidebar-menu li a {
  color: var(--color-white);
  transition: all 0.3s ease;
  padding-left: 10px; /* espacio interno */
}

.sidebar-menu li a:hover {
  color: var(--color-primary);
}
/* ===================== HERO SECTION ===================== */
.hero-section {
  margin-bottom: 150px;
}

.search-selection {
  padding-bottom: 60px;
}

.hero-arrow {
  position: absolute;
  left: 180px;
  bottom: -50px;
  padding-left: 25;
}

/* ===================== SLIDER ===================== */
/* Imagen de fondo */
.slider-image {
  background: url('../assets/slider.jpg') center/cover no-repeat;
  height: 75vh;
  filter: brightness(0.7);
  transition: transform 0.6s ease;
}

.slider-content {
  margin-top: -30vh;
  position: relative;
  z-index: 2;
}

/* Textos */
.slider-title {
  font-size: 182px;
  font-weight: 300;
  text-transform: uppercase;
  margin: 0;
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.slider-subtitle {
  font-size: 72px;
  font-weight: 400;
  font-family: var(--font-secondary);
  color: var(--color-primary);
  margin: 0;
}

/* ANIMACIÓN */

/* Contenedor para imagen + flecha */
.hero-arrow {
  display: block;
  transition: transform 0.6s ease; /* suaviza la animación */
}

/* Hover sobre la imagen misma */
.hero-arrow:hover {
  transform: translateY(60%);
}

/* ===================== SEARCH FORM ===================== */
#search-form {
  padding-bottom: 60px;
}

/* Placeholder en cursiva */
#search-form textarea.select2-search__field::placeholder {
  font-style: italic !important;
}

/* Placeholder del input referencia */
#search-form input::placeholder {
  font-style: italic !important;
  color: #6d6d6d;
  text-transform: none;
}

/* Añadir caret/flecha a la derecha del select */
.select2-container--default.select2-container--focus .select2-selection--multiple,
.select2-container--default .select2-selection--single {
  position: relative;
}

.select2-container--default .select2-selection--single::after,
.select2-container--default .select2-selection--multiple::after {
  content: ''; /* podemos poner la flecha con border */
  position: absolute;
  top: 50%;
  right: 10px; /* margen desde la derecha */
  width: 0;
  height: 0;
  pointer-events: none;
  transform: translateY(-50%);
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #333; /* color de la flecha */
}

/* Ajuste si quieres que la flecha sea más visible */
.select2-container--default.select2-container--open .select2-selection--single::after,
.select2-container--default.select2-container--open .select2-selection--multiple::after {
  transform: translateY(-50%) rotate(180deg); /* rota la flecha al abrir */
}
.search-form input[type='text'],
.search-form input[type='number'] {
  min-height: 54px;
  padding: 8px 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
  font-style: italic !important;
}

/* Input de texto */
.search-form .select2-container .select2-selection--multiple {
  min-height: 54px;
  padding: 8px 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
  font-style: italic !important;
}

/* Input de texto */
.search-form .select2-container--default .select2-selection--multiple {
  min-height: 54px;
  padding: 8px 10px;
  border-radius: 0px;
  border: 1px solid #ccc;
  font-style: italic !important;
}

/* Color del texto de las opciones */
.select2-container .select2-results__option {
  color: var(--color-background-dark);
}

/* Badge interior cuando seleccionas una opción */
.select2-container--default .select2-selection__choice {
  color: #181d24 !important;
  font-style: italic !important;
  font-size: 12px !important;
  font-weight: 500 !important;
  border: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 5px !important;
}

.btn-search {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #ffcb00;
  border: 1px solid #ffcb00;
  border-radius: 0px;
  font-weight: 700;
}

.btn-search img {
  margin-right: 8px;
}

.btn-clear-filters {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #333;
  border: 1px solid #333;
  border-radius: 0px;
  font-weight: 700;
  color: var(--color-white);
}

.btn-clear-filters img {
  padding-right: 8px;
}

.btn-advanced {
  height: 54px;
  min-height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  font-size: 15px;
  background-color: #978510;
  border: 1px solid #978510;
  border-radius: 0px;
  font-weight: 700;
  color: var(--color-white);
}

.btn-advanced:hover {
  background-color: #a79734;
}
.btn-advanced img {
  padding-right: 8px;
}

/* Campos avanzados ocultos por defecto */
.advanced-fields {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

/* Cuando el checkbox oculto está activado → mostrar */
#toggle-advanced:checked ~ .advanced-fields {
  max-height: 200px;
  opacity: 1;
  transform: translateY(0);
}
/* ===================== FUTURE SECTION ===================== */

#future-section {
  position: relative;
  padding-top: 160px;
  padding-bottom: 120px;
  overflow: visible;
}

#future-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

#future-bg .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: opacity 0.5s ease-in-out;
}

.future-title {
  text-align: center;
  margin-bottom: 20px;
}

.future-title .title {
  font-size: 92px;
  font-family: var(--font-secondary);
  color: var(--color-primary);
}

.future-icon {
  text-align: center;
  margin-bottom: 60px;
}

#future-section a.mini-card {
  display: block;
  overflow: hidden;
  position: relative;
  background-color: #181d24;
  height: 320px;
  transition: all 0.3s ease-in-out;
  text-align: left;
}

/* Capa de relleno desde abajo */
#future-section a.mini-card::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  background-color: var(--color-primary);
  z-index: 1;
  transition: height 0.5s ease-in-out;
}

/* Hover → la capa se expande */
#future-section a.mini-card:hover::before {
  height: 100%;
}

/* Hover → texto del título y border-left negro */
#future-section a.mini-card:hover .card-title {
  color: #000;
  border-left-color: #000;
}

/* Ajustar arrow debajo del title */
#future-section a.mini-card .card-title img {
  display: block;
  margin-top: 10px;
}

/* Asegurar que el contenido de la card está encima del relleno */
#future-section a.mini-card .card-title,
#future-section a.mini-card .card-total {
  position: relative;
  z-index: 2;
}

#future-section a.mini-card .card-title {
  color: #ffcb00;
  position: absolute;
  top: 0;
  left: 0;
  border-left: 50px solid #ffcb00;
  display: inline-block;
  line-height: 1.3;
  min-height: 115px;
  z-index: 2;
  font-size: 24px;
  font-weight: 700;
  padding: 26px 30px 0;
}

#future-section a.mini-card .card-total {
  position: absolute;
  bottom: 0;
  left: 0;
  border-left: 50px solid #666;
  color: #fff;
  padding: 26px 30px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 3;
}

#future-section a.mini-card .card-total strong {
  font-size: 66px;
  font-weight: 300;
  padding-right: 20px;
}

/* ===================== PROPIEDADES DEL MES ===================== */

#property-offer .title {
  font-size: 60px;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
  padding: 48px 0;
}

#property-offer .title .highlight {
  color: var(--color-primary);
  text-transform: none;
  font-family: var(--font-secondary);
  font-weight: 400;
}

/* ===================== CARD FEATURED ===================== */

#property-offer .card-featured {
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translateY(-50%);
  background-color: #3c4146;
  color: white;
  width: 40%;
  padding: 3rem 2rem 2rem 2rem; /* deja espacio para REF */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  transition: transform 0.5s ease, background-color 0.8s ease;
  z-index: 5;
  border-radius: 4px;
}

#property-offer .row.position-relative:hover .card-featured {
  transform: translateY(-50%) translateX(60px);
  background-color: #2a2d31;
}

/* Imagen */
#property-offer .row.position-relative img {
  width: 90%;
  transition: transform 1.5s ease;
  display: block;
}

#property-offer .row.position-relative:hover img {
  transform: scale(1.08);
}

/* ===================== REF (CINTA) ===================== */

#property-offer .ref-propiedad-ofertada {
  position: absolute;
  top: 14px;
  left: 0px;
  background-color: #978510;
  padding: 7px 25px;
  font-size: 14px;
  font-weight: 700;
  z-index: 10;
  color: #fff;
  border-bottom-right-radius: 4px;
}

/* ===================== FAVORITO ===================== */

#property-offer .fav-icon {
  position: absolute;
  top: 14px;
  right: 14px;
  font-size: 22px;
  color: #fff;
  cursor: pointer;
  z-index: 10;
}

#property-offer .fav-icon:hover {
  color: var(--color-primary);
}

/* ===================== CONTENIDO CARTA ===================== */

#property-offer .card-content {
  margin-top: 30px; /* separa contenido de la cinta */
}
#property-offer .card-content .type {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

#property-offer .card-content .modality {
  font-size: 18px;
  font-weight: 500;
  padding-top: 5px;
  margin-bottom: 20px;
}

#property-offer .card-content .location {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 20px;
}

#property-offer .card-content .price {
  font-size: 24px;
  font-weight: 400;
  color: var(--color-primary);
  letter-spacing: 1.8px;
}

/* ===================== LISTADO HORIZONTAL ===================== */

#property-offer .caracteristicas {
  display: flex;
  flex-direction: row;
  gap: 12px;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

#property-offer .caracteristicas li {
  display: inline-flex;
  align-items: center;
  white-space: nowrap;
  font-size: 15px;
  font-weight: 400;
}

#property-offer .caracteristicas strong {
  margin-right: 5px;
}

/* VENDE TU PROPIEDAD */
#sell-property .main-title {
  font-size: 60px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.7;
}

#sell-property .main-title strong {
  font-size: 60px;
  font-weight: 400;
  color: var(--color-primary);
  text-transform: none;
  font-family: var(--font-secondary);
}

#sell-property .btn-vender {
  background-color: var(--color-primary);
  border-radius: 0;
  color: white;
  padding-left: 12px;
  padding-right: 12px;
}

#sell-property .btn-vender:hover {
  background-color: #a79734;
}

/* ===================== PROPIEDADES DESTACADAS ===================== */
#featured-properties {
  background-color: var(--color-background-dark);
  padding: 100px 0px;
}

#featured-properties .title {
  font-size: 60px;
  font-weight: 300;
  color: var(--color-white);
  text-align: center;
  text-transform: uppercase;
  line-height: 0.7;
  padding: 48px 0px;
}

#featured-properties .title .highlight {
  color: var(--color-primary);
  text-transform: none;
  line-height: 0.7;
  font-family: var(--font-secondary);
  font-weight: 400;
}

#featured-properties .propiedad-destacada {
  overflow: hidden;
}

#featured-properties .propiedad-destacada:hover {
  background-color: var(--color-primary);
}

#featured-properties .propiedad-destacada:hover .info-propiedad {
  color: var(--color-background-dark);
}

#featured-properties .propiedad-destacada:hover .info-propiedad .price {
  color: var(--color-white);
}

/* Contenedor de la imagen para poder posicionar elementos encima */
#featured-properties .imagen-propiedad {
  position: relative;
}

/* Icono de favoritos arriba a la derecha */
#featured-properties .icono-favorito {
  top: 20px;
  right: 20px;
  position: absolute;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

/* Texto REF abajo a la derecha sobre la imagen */
#featured-properties .ref-propiedad {
  bottom: 0;
  right: 0;
  position: absolute;
  background-color: #3c4146;
  padding: 12px 5px;
  color: var(--color-white);
  font-size: 14px;
  font-weight: 700;
  line-height: 0.85;
  letter-spacing: 2px;
}

#featured-properties .info-propiedad {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
}

#featured-properties .info-propiedad .info-border {
  border-right: 1px solid #6f6f6f;
  padding-right: 25px;
  height: 50%;
}

/* Imagen ajustable */
#featured-properties .imagen-propiedad img {
  width: 100%;
  display: block;
}

#featured-properties .info-propiedad .type {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

#featured-properties .info-propiedad .modality {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 10px;
}

#featured-properties .info-propiedad .location {
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}

#featured-properties .info-propiedad .price {
  font-size: 18px;
  font-weight: 500;
  color: var(--color-primary);
  letter-spacing: 1.8px;
}

#featured-properties .info-propiedad .caracteristicas {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
  justify-content: end;
  font-size: 15px;
  font-weight: 400;
  line-height: 0.7;
}

#featured-properties .info-propiedad .caracteristicas strong {
  margin-right: 5px;
  font-weight: 700;
}

#featured-properties .info-propiedad .caracteristicas li {
  display: flex;
  align-items: center;
}

#featured-properties .all-properties a:hover p {
  color: white;
}

#featured-properties .all-properties p {
  color: var(--color-primary);
  font-family: var(--font-secondary);
  font-size: 24px;
  font-weight: 700;
  text-align: right;
  line-height: 1;
  margin-right: 10px;
}

#featured-properties .all-properties img {
  margin-left: 10px;
}

/* Animación */
/* Contenedor de imagen con overflow oculto */
#featured-properties .propiedad-destacada .imagen-propiedad {
  overflow: hidden;
  position: relative;
}

/* Hover sobre la propiedad destacada */
#featured-properties .propiedad-destacada .imagen-propiedad img {
  transition: transform 0.8s ease; /* zoom suave */
}

#featured-properties .propiedad-destacada .info-propiedad {
  transition: background-color 0.5s ease, color 0.5s ease; /* fade in del fondo y texto */
  background-color: transparent; /* estado inicial */
}

/* Estado hover */
#featured-properties .propiedad-destacada:hover .imagen-propiedad img {
  transform: scale(1.08); /* zoom imagen */
}

#featured-properties .propiedad-destacada:hover .info-propiedad {
  background-color: var(--color-primary); /* relleno del fondo */
  color: var(--color-white);
}

/* Ajustes de texto dentro del info-propiedad para que se vea en blanco */
#featured-properties .propiedad-destacada:hover .info-propiedad .price,
#featured-properties .propiedad-destacada:hover .info-propiedad .info-border p {
  color: var(--color-white);
}

/* Contenedor del link */
#featured-properties .all-properties a {
  display: flex;
  align-items: center;
  transition: transform 0.8s ease; /* para desplazar todo el bloque */
}

/* Hover: desplaza todo el enlace a la izquierda */
#featured-properties .all-properties a:hover {
  transform: translateX(-20px);
}

/* Imagen del icono */
#featured-properties .all-properties a img {
  display: inline-block;
  transition: transform 0.8s ease;
  transform-origin: center;
}

/* Texto */
#featured-properties .all-properties a p {
  display: inline-block;
  transition: transform 0.8s ease;
  transform-origin: center;
}

/* Hover: solo la imagen hace flip y se desplaza ligeramente a la izquierda */
#featured-properties .all-properties a:hover img {
  transform: rotateY(180deg);
}

/* Hover: el texto se desplaza a la derecha */
#featured-properties .all-properties a:hover p {
  transform: translateX(40px);
}

/* ===================== SOBRE NOSOTROS ===================== */
#sobre-nosotros {
  padding-bottom: 140px;
}
#sobre-nosotros .texto-central {
  padding-left: 12px !important;
  padding-right: 12px !important;
  position: relative;
  left: 20px;
}

#sobre-nosotros .titulo {
  font-size: 20px;
  font-weight: 500;
  color: var(--color-primary);
  text-transform: uppercase;
  margin-bottom: 40px;
  line-height: 1.7;
}

#sobre-nosotros p {
  font-size: 15px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 40px;
  line-height: 1.7;
}

#sobre-nosotros .btn-outline-primary {
  padding: 12px 48px;
  color: var(--color-primary);
  font-size: 15px;
  font-weight: 700;
  border: 1.5px solid var(--color-primary);
  border-radius: 0;
}

#sobre-nosotros .btn-outline-primary:hover {
  background-color: var(--color-primary);
  color: var(--color-white);
}

.object-fit-cover {
  object-fit: cover;
  height: 100%;
}

/* La imagen derecha NO se ve completa: se recorta */
.imagen-derecha {
  overflow: hidden;
}

/* ===================== ÚLTIMAS NOTICIAS ===================== */
#last-news {
  background-color: var(--color-white);
  color: var(--color-background-dark);
  padding: 120px 0px;
}

#last-news .vertical-text {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 87px;
  font-weight: 300;
  text-transform: uppercase;
  line-height: 0.7;
}

#last-news .vertical-text strong {
  font-family: var(--font-secondary);
  text-transform: none;
  color: var(--color-primary);
}

#last-news .card {
  position: relative;
  padding: 0 12px;
  border: none;
  overflow: hidden;
}

/* Contenedor de la imagen relativo */
#last-news .card .image {
  position: relative;
  overflow: hidden;
}

/* Overlay sobre la imagen */
#last-news .card .image::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-primary);
  opacity: 0;
  transition: opacity 0.5s ease;
  z-index: 1;
}

/* Hover overlay */
#last-news .card:hover .image::after {
  opacity: 0.7;
}

/* Imagen ajustada para que siempre cubra el overlay */
#last-news .card .image img {
  width: 100%;
  display: block;
  height: auto;
}

/* Texto siempre visible encima del overlay */
#last-news .card .text {
  position: absolute;
  top: 10px;
  left: 20px;
  right: 20px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 2;
}

/* Cinta abajo izquierda */
#last-news .card .cinta {
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: var(--color-primary);
  color: white;
  font-size: 12px;
  font-weight: 700;
  padding: 5px 15px;
  z-index: 3;
  text-transform: uppercase;
}

/* Flecha abajo derecha */
#last-news .card .flecha {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 20px;
  height: 20px;
  z-index: 3;
  background-image: url('assets/Icon feather-arrow-right.svg');
  background-size: contain;
  background-repeat: no-repeat;
}

/* Icono plus con flip */
#last-news .col-lg-2 img {
  transition: transform 0.8s ease;
  transform-origin: center;
}

#last-news .col-lg-2 img:hover {
  transform: rotateY(180deg);
}
/* ===================== SECTION BLOCK ===================== */
#block-section {
  position: relative;
  overflow: hidden;
  height: 70vh;
}

#block-section .img-parallax {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
  pointer-events: none;
}
/* ===================== CONTACT FORM ===================== */
/* ===================== CONTACT FORM ===================== */
#contact-form {
  background-color: var(--color-primary);
  padding: 60px 0;
}

#contact-form .contact-title {
  font-size: 60px;
  font-weight: 300;
  color: black;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
}

#contact-form .contact-title .highlight {
  color: var(--color-white);
  font-family: var(--font-secondary);
  text-transform: none;
}

#contact-form .form-control {
  color: var(--color-white) !important;
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
}

.form-control::placeholder {
  color: var(--color-white);
  opacity: 1;
  font-style: italic;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.form-control:focus {
  border-color: #000;
  box-shadow: none;
  outline: none;
}

#contact-form textarea {
  background-color: transparent;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid white;
}

/* ===================== CHECKBOX REDONDO ===================== */
/* Contenedor del checkbox para alineación */
#contact-form .form-check {
  display: flex;
  align-items: center;
  gap: 12px; /* separación entre checkbox y texto */
  text-align: left;
}

/* Hacer el checkbox completamente redondo */
.checkbox-round {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: transparent;

  cursor: pointer;
  position: relative;
  transition: all 0.3s ease-in-out;
  flex-shrink: 0; /* que no se encoja */
}

/* Hover sobre checkbox */
.checkbox-round:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Checkbox marcado */
.checkbox-round:checked {
  background-color: white;
  border-color: white;
}

/* Marca interior del checkbox */
.checkbox-round:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 12px;
  height: 12px;
  background-color: var(--color-primary);
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

/* Evitar focus feo de Bootstrap */
.checkbox-round:focus {
  outline: none;
  box-shadow: none;
}

/* Texto del label */
#contact-form .form-check-label {
  color: var(--color-white);
  font-size: 14px;
  line-height: 1.3;
  text-transform: none;
}

/* Captcha */
#contact-form .mb-3.d-flex.justify-content-center img {
  max-width: 25%;
}

/* Botón enviar */
#contact-form button.btn-primary {
  background-color: var(--color-background-dark);
  color: var(--color-white);
  font-weight: 700;
  padding: 12px 30px;
  text-transform: uppercase;
  border: none;
  border-radius: 0;
  transition: all 0.3s ease-in-out;

  /* Ancho completo */
  width: 100%;
  max-width: 500px; /* opcional: límite en pantallas grandes */
  display: block;
  margin: 0 auto; /* centrado */
}

/* Texto responsable del tratamiento */
#contact-form small {
  color: rgba(0, 0, 0, 0.7);
  font-size: 12px;
  line-height: 1.4;
  margin-top: 10px;
  display: block;
  text-align: center;
}

#contact-form small {
  color: white;
}
/* ===================== FOOTER VERTICAL ===================== */
/* Footer vertical y bottom-menu */
#footer-vertical,
.bottom-menu {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
}

#footer-vertical {
  background-color: var(--color-background-dark);
  padding-top: 80px;
  padding-bottom: 50px;
}

#footer-vertical .details {
  font-size: 40px;
  font-weight: 300;
  text-align: center;
  display: block;
}

#footer-vertical .details:hover {
  color: var(--color-primary-hover);
}

#footer-vertical .bottom-menu {
  display: flex;
  justify-content: center;
}

#footer-vertical .bottom-menu li {
  margin-left: 2px;
  margin-right: 2px;
}

#footer-vertical .bottom-menu a {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 600;
}

#footer-vertical .bottom-menu a:hover {
  background-color: var(--color-primary);
}

/* ===================== FOOTER VERTICAL RESPONSIVO ===================== */
@media (max-width: 767px) {
  #footer-vertical .bottom-menu {
    flex-direction: column; /* menú vertical en móviles */
    align-items: center;
    gap: 10px; /* separa los items */
  }

  #footer-vertical .bottom-menu li {
    margin: 5px 0; /* espacio vertical entre elementos */
  }

  #footer-vertical .details {
    font-size: 24px; /* reduce tamaño en móviles */
  }

  #footer-vertical {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

/* ===================== FOOTER ===================== */
#footer-legal {
  background-color: var(--color-primary);
  padding: 25px 0px;
  font-size: 14px;
  font-weight: 400;
}

#footer-legal a:hover {
  color: var(--color-primary-hover);
}

/* ===================== FOOTER RESPONSIVO ===================== */
#footer-legal {
  background-color: var(--color-primary);
  padding: 25px 15px; /* más coherente en móviles */
  font-size: 14px;
  font-weight: 400;
  overflow-x: hidden; /* previene scroll horizontal */
}

#footer-legal a:hover {
  color: var(--color-primary-hover);
}

/* Contenedor del footer */
#footer-legal .container {
  display: flex;
  flex-direction: column; /* Columna en móvil */
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  max-width: 100%; /* evita sobresalir del viewport */
  padding: 0; /* elimina padding extra del container bootstrap */
  box-sizing: border-box;
}

/* Texto legal y crédito diseño */
#footer-legal .col-md-8,
#footer-legal .col-md-4 {
  width: 100%; /* que ocupen todo en móvil */
  text-align: center; /* centrado en móvil */
  padding: 0;
  margin: 0;
}
